<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.angel.mapper.CatogryMapper">  	
  	
	<resultMap id="catogryMap" type="com.angel.dto.CatogryDto">
		<result column="id" property="id"></result>
		<result column="shopId" property="shopid"></result>
		<result column="seq" property="seq"></result>
		<result column="des" property="des"></result>
		<result column="image" property="image"></result>
		<result column="gmtCreated" property="gmtcreated"></result>
		<result column="gmtModified" property="gmtmodified"></result>
		<result column="name" property="name"></result>
	</resultMap>
	
	
	<sql id="Catogry_fr">
  	   FROM catogry t 
	</sql>
  	
	<sql id="Catogry_fs">		
		t.id,
		t.shopId,
		t.seq,
		t.des,
		t.image,
		t.gmtCreated,
		t.gmtModified,
		t.name
	</sql>
  	
	<sql id="Catogry_where">
		where 1=1
		<if test="id != null">
			and t.id = '${id}'
		</if>	  			   
		<if test="shopid != null">
			and t.shopId = '${shopid}'
		</if>	  			   
		<if test="seq != null">
			and t.seq = '${seq}'
		</if>	  			   
		<if test="des != null">
			and t.des = '${des}'
		</if>	  			   
		<if test="image != null">
			and t.image = '${image}'
		</if>	  			   
			         
		<if test="name != null">
			and t.name = '${name}'
		</if>	
		
		<if test="pName != null">
			and t.name Like CONCAT('%','${pName}','%' )
		</if>  			   
		
		
    </sql>
    
	<sql id="Catogry_order">
		<choose>
			<when test="pg.sort !=null">
				order by  ${pg.sort}
				<if test="pg.dir != null">
					 ${pg.dir}
				</if>
			</when>
			<otherwise>  
			    order by t.seq desc
			</otherwise>  
		</choose>
	</sql>
    
	<sql id="Catogry_fr_wh">
		<include refid="Catogry_fr" />
		<include refid="Catogry_where" />
		<include refid="Catogry_order" />
	</sql>
	
	 <!--  分页查询 -->
     <select id="findCatogryList"  resultMap="catogryMap"  parameterType="com.angel.dto.CatogryDto">
       select  <include refid="Catogry_fs" />
               <include refid="Catogry_fr_wh" /> 
       <if test="pg.notPage != null">
	       limit ${pg.start},${pg.limit}
	   </if>
     </select>
     
     <select id="countCatogry"  resultType="java.lang.Integer"  parameterType="com.angel.dto.CatogryDto">
        select count(1) as PG_TOTALCOUNT from catogry t <include refid="Catogry_where" />
		 
     </select>
     
     
     <!--  插入数据 -->
     <insert id="insertCatogry" parameterType="com.angel.mo.Catogry" useGeneratedKeys="true" keyProperty="id">
   	     INSERT INTO  catogry
   	     <trim prefix="(" suffix=")" suffixOverrides=",">
			     <if test="shopid!=null">shopId,</if>
			     <if test="seq!=null">seq,</if>
			     <if test="des!=null">des,</if>
			     <if test="image!=null">image,</if>
			     gmtCreated,
			     gmtModified,
			     <if test="name!=null">name,</if>
		 </trim>
		 <trim prefix=" values(" suffix=")" suffixOverrides=",">
			      <if test="shopid!=null">
			      	  	 ${shopid},
			      </if>
			      <if test="seq!=null">
			      	  	 ${seq},
			      </if>
			      <if test="des!=null">
			      	  	'${des}',
			      </if>
			      <if test="image!=null">
			      	  	'${image}',
			      </if>
			     now(),now(),
			      <if test="name!=null">
			      	  	'${name}',
			      </if>
		 </trim>
	</insert>
	
		
	<update id="updateCatogryByIds" parameterType="com.angel.dto.CatogryDto">
		update  catogry t
			<trim prefix="set" suffixOverrides=",">	
				<if test="shopid != null">	  			   	  
					t.shopId =  ${shopid},
				</if>
				<if test="seq != null">	  			   	  
					t.seq =  ${seq},
				</if>
				<if test="des != null">	  			   	  
					t.des = '${des}',
				</if>
				<if test="image != null">	  			   	  
					t.image = '${image}',
				</if>
				
				t.gmtModified=now(),
				<if test="name != null">	  			   	  
					t.name = '${name}',
				</if>
			</trim>
		where 
	    <trim prefixOverrides="or">
		    <if test="id != null" > 
		    	or t.id = ${id}
		    </if>	  
		    <if test="ids != null and ids.size>0" > 
		    	or t.id in
		    	<foreach item="item" index="index" collection="ids" open="(" separator="," close=")">  
				   	${item}
				</foreach>
		    </if>
	    </trim>	
	</update>
	
	
	<delete id="deleteCatogryById"  parameterType="Long">
	   delete from  catogry where id =  #{id, jdbcType=BIGINT}
	</delete>
	
	<delete id="deleteCatogryByIds" parameterType="java.util.List">
	   delete from  catogry where id in
	   	<foreach item="item" index="index" collection="list" open="(" separator="," close=")">  
		   	${item}
		</foreach>
	</delete>
    
</mapper>
